/* Filter */
html,
body{
    height: 100%;
}

#frequent_filters{
    background-color: aqua;
}

#filter_options_tab{
    background-color: #fef8f8;
    width: 60%;
    height: 40%;
    float:left;
    padding-left: 10px;


}

#selected_filters{
  background-color: #fef8f8;
  width: 40%;
  height: 40%;
  float:left;
  padding-left: 10px;

}

.filter_button{
  background-color: #6c757d;
  color:white;
  padding: 10px;
  margin: 0px 5px 5px;
  border:none;
  font-size:20px;
  border-radius:12px;
}

.selected_filter_button{
  background-color: #4d5257;
  color:white;
  padding: 10px;
  margin: 0px 5px 5px;
  border:none;
  font-size:20px;
  border-radius:12px;
}


#restaurant_suggestions{
  background-color: #fef8f8;
  color: black;
}

.restaurantNames{
  font-size: large;
}

.card_for_filter{
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 2px);
  overflow: hidden;
  text-decoration: none;
  width: 90%;
  background-color: white;
  margin: 5%;
}

#filterSearch{
  box-sizing: border-box;
  width: 80%;
}