#cardImage {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
    height: fit-content;
}


/* Search bar */
html,
body,
.intro {
  height: 100%;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
/* Search bar */

#login_background{
    background-color: #464646;
}
#main_page_background{
    background-image: url("/images/background_landing_page.jpg");
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

/* cards */
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 2.5%;
  margin-bottom: 6%; /* Added */
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card_for_main{
  position: relative;
  display: block;
  height: 60%;  
  border-radius: calc(var(--curve) * 0.6px);
  overflow: hidden;
  text-decoration: none;
  width: 90%;
  background-color: white;
  margin: 5%;
}

